<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice " parallel="false">
<!-- <listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter" />
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
  </listeners> -->
 <test name="Regression1"   >

 

		<classes>
			<class name="MavenProject.Selenium.GoogleTest" />
			<class name="MavenProject.Selenium.HRMobileTest" />
		</classes>
   <!--  <packages>
      <package name="MavenProject.Selenium" />
   </packages> -->
 </test>

</suite> <!-- Suite -->
